:root {
    --primary-color: #22333B;
    --secondary-color: #5E503F;
    --base-color: #1c1c1c;
    --light: #F2F4F3;
    --contrast-color: #A9927D;
}

body {
    margin: 0;
}

/* NAVIGATION */
section.top-nav {
    display: flex;
    background-color: var(--base-color);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

/* nav#top {} */

.hamburger-menu {
    padding: 0;
}

.menu-icon {
    filter: invert(100%) sepia(72%) saturate(202%) hue-rotate(88deg) brightness(109%) contrast(91%);
}

nav#top ul {
    list-style: none;
}

nav#top ul .hidden-menu {
    display: none;
}

nav#top ul li:hover .hidden-menu {
    display: block;
}

.hidden-menu {
    background-color: var(--light);
    width: 200px;
    padding: 3rem 2rem 3rem 2rem;
    text-align: center;
    position: absolute;
}

.hidden-menu li {
    padding: 1rem;
    position: relative;
}

.hidden-menu a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--base-color);
}

.hidden-menu a:hover {
    text-decoration: none;
    color: var(--contrast-color);
}

.hidden-menu h3 {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--primary-color);
    padding-bottom: 2rem;
    margin: 0rem 0rem 0.5rem 0rem;
    border-bottom: 2px solid var(--primary-color);
}

#top a {
    color: var(--base-color);
    font-weight: 400;
}

#top a:hover {
    color: var(--contrast-color);
}

#close-menu {
    font-family: 'abril fatface';
    font-size: 16px;
    margin-top: 2rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 2px solid var(--primary-color);
    text-transform: uppercase;
    color: var(--primary-color);
}

img#logo {
    width: 3.5rem;
    border: 0px solid var(--light);
    border-radius: 50%;
    box-shadow: 0px 0px 10px var(--base-color);
    padding: 0;
}

/* HEADER */

header {
    background-color: var(--primary-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

header h1 {
    padding: 2rem 1rem 1rem 1rem;
}

header p {
    margin: 1rem 2rem 1rem 2rem;
    color: var(--light);
}

header button {
    background-color: var(--light);
    padding: 1rem 2rem 1rem 2rem;
    margin: 1rem 1rem 2rem 1rem;
    font-family: 'abril fatface';
    font-size: 16px;
    color: var(--primary-color);
    text-transform: uppercase;
    border: 2px solid var(--light);
}

header button:hover {
    transition: ease-in-out 0.7s;
    background-color: var(--primary-color);
    color: var(--light);
}


/* HEADINGS AND PARAGRAPHS */
h1 {
    margin: 0;
    font-family: 'abril fatface';
    color: var(--light);
    font-size: 40px;
}

h2 {
    margin: 0;
    font-family: 'abril fatface';
    color: var(--primary-color);
}

h3 {
    margin: 0;
    font-family: 'abril fatface';
    color: var(--base-color);
}

p {
    margin: 0;
    color: var(--base-color);
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* LÄNKAR */
a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
}

a:hover {
    color: var(--contrast-color);
}


/* CONTENT AND CONTAINERS */

.content {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 1rem 0rem;
    gap: 0rem;
}

.container-box {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--light);
    box-shadow: 0px 0px 8px var(--base-color);
    width: auto;
}




/* FORMULÄR */
.form-content {
    background-color: var(--contrast-color);
}

.formbox {
    padding: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .formrows {} */

.labels {
    font-family: 'abril fatface';
    font-size: large;
    color: var(--primary-color);
    padding: 0.5rem 0.5rem;
}

.fields {
    padding: 0.5rem;
}

.select-field {
    background-color: var(--light);
    padding: 0.5rem 0.5rem;
    border: none;
    border-radius: 20px;
}

.inputfields {
    padding: 0.5rem 1rem;
    width: 90%;
    border: none;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radio {
    list-style: none;
}

.user-select {
    background-color: var(--light);
}

.text-box {
    width: 90%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 20px;
    padding: 1rem;
}

.form-buttons {
    margin-top: 1rem;
}

.button {
    background-color: var(--primary-color);
    padding: 0.7rem 1rem;
    border: none;
    border-radius: 10px;
    color: var(--light);
    font-family: 'abril fatface';
}

.event-info {
    background-color: var(--base-color);
    display: block;
    padding: 3rem;
    text-align: center;
}

.event-info h2 {
    color: var(--light);
}

.event-info p {
    color: var(--light);
}

.img-balloons {
    width: 100%;
    opacity: 70%;
}

@media screen and (min-width: 820px) {
    .form-content {
        display: flex;
        flex-direction: row;
    }

    .formbox {
        width: 50%;
    }

    .event-info {
        width: 50%;
        height: auto;
    }


}

/* 
article {
    padding: 0rem 1rem 1rem 1rem;
    margin: 0;
} */


@media screen and (min-width: 820px) {
    .content {
        flex-direction: row;
    }

    .container-box {
        width: 100%;
        height: max-content;
    }
}


.content>.container-box>h2 {
    font-family: 'abril fatface';
    margin-bottom: 0.5rem;
}

.content>.container-box>p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: var(--base-color);
    margin-top: 0.5rem;
}

.container-pictures {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.media-content {
    background-color: #cccccc;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem 1rem 0rem;
    gap: 0rem;
}

.media-container-box {
    margin: 1rem;
    padding: 1rem;
    background-color: var(--light);
    box-shadow: 0px 0px 8px var(--base-color);
    width: auto;
}

details>summary {
    background-color: var(--light);
    border: 2px solid var(--primary-color);
    padding: 0.7rem;
    margin: 0.5rem 0rem 0.5rem 0rem;
    font-family: 'abril fatface';
    font-size: large;
    color: var(--primary-color);
}

.box-info {
    border: 2px solid var(--primary-color);
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--base-color);
}

.box-info ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

.box-info li {
    padding: 0.1rem 0rem 0.1rem 0rem;
}

.box-info p {
    font-size: 16px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

audio {
    border: 3px solid var(--primary-color);
    border-radius: 10px;
}

/* figcaption {} */

figcaption a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.audio-container {
    display: flex;
    flex-direction: column;
}

p.audio {
    font-size: small;
    font-style: italic;
    padding-top: 0.3rem;
}

@media screen and (min-width: 1200px) {
    .audio-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }
}

/* TABELL */
table {
    background-color: var(--primary-color);
    border: 0px solid var(--base-color);
    width: 100%;
    margin: 0rem;
}

th {
    background-color: var(--base-color);
    padding: 1rem;
    color: var(--light);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
}

/* tr {} */

td {
    background-color: var(--light);
    text-align: center;
    padding: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;

}

/* FAKTA OM VÄSTERVIK */
.facts {
    background-color: var(--secondary-color);
    padding: 1rem;
    /* width: 100%; */
}

.facts h2 {
    text-align: center;
    font-size: xx-large;
    color: var(--light);
    padding: 1rem;
}

.facts p {
    color: var(--light);
    padding: 1rem;
}

.facts a {
    color: var(--light);
}

@media screen and (min-width: 820px) {

    .food-and-facts-container {
        display: flex;
        flex-direction: row;
    }

    .food-description {
        width: 50%;
    }

    .table-div {
        width: 100%;
    }

    table {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    th {
        width: 100%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    tr {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    td {
        background-color: var(--light);
        text-align: center;
        padding: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .facts {
        width: 50%;
    }
}

.food-description {
    background-color: var(--primary-color);
    padding: 1rem;
}

.food-description h2 {
    padding: 1rem;
    font-size: xx-large;
    text-align: center;
    color: var(--light);

}

.food-description p {
    color: var(--light);
    padding: 1rem 1rem 1rem 1rem;
    text-align: center;
}

/* GALLERI */

/* .images {} */

.img-gallery {
    width: 100%;
}

.videos {
    
}

.video-gallery {
    width: 100%;
}

@media screen and (min-width: 820px) {
    .images {
        display: flex;
        justify-content: space-between;
    }

    .img-gallery {
        width: 33%;
    }

    .videos {
    display: flex;
    justify-content: space-between;
    }
    
    .video-gallery {
        width: 33%;
    }
}


/* FOOTER */

footer {
    background-color: var(--base-color);
    text-align: center;
    padding: 3rem;
}

footer>h3 {
    color: var(--light);
    font-family: 'abril fatface';
    font-size: 18px;
}

footer p {
    color: var(--light);
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: large;
    padding-top: 1rem;
}



/* FYRA FLAGGOR TILL FLAGS.HTML */

/* .flaggor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */


/* FRANSKA FLAGGAN */

.france {
    display: flex;
    /* grid-template-columns: 3fr; */
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
}

.blue {
    background-color: #0055A4;
    width: 33.3%;
}

.white {
    background-color: #FFFFFF;
    width: 33.3%;
}

.red {
    background-color: #EF4135;
    width: 33.3%;
}

/* SVENSKA FLAGGAN */

.sweden {
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3;
}

.mid {
    display: flex;
    background-color: #FECC00;
    width: 100%;
}

.bottom {
    display: flex;
}

.blue-short {
    background-color: #006AA7;
    width: 80px;
    height: 80px;
}

.yellow-short {
    background-color: #FECC00;
    width: 40px;
}

.blue-long {
    background-color: #006AA7;
    width: 180px;
    height: 80px;
}

.yellow-long {
    background-color: #FECC00;
    width: 100%;
    height: 40px;
}

/* NORSKA FLAGGAN */

.norway {
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
}

.norway-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5;
}

.red-short {
    background-color: #BA0C2F;
    width: 80px;
    height: 80px;
}

.white-top-and-bottom {
    background-color: #FFFFFF;
    width: 10px;
    height: 80px;
}

.blue-top-and-bottom {
    background-color: #00205B;
    width: 20px;
    height: 80px;
}

.red-long {
    background-color: #BA0C2F;
    width: 180px;
    height: 80px;
}

.norway-upper-mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 3; */
}

.mid-short-white {
    background-color: #FFFFFF;
    width: 90px;
    height: 10px;
}

.mid-short-blue {
    background-color: #00205B;
    height: 10px;
    width: 20px;
}

.mid-long-white {
    background-color: #FFFFFF;
    width: 190px;
    height: 10px;
}

.norway-bottom-mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3;
}

.norway-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5;
}

.norway-mid {
    background-color: #00205B;
    width: 100%;
    height: 20px;
}

/* TYSKLANDS FLAGGA */

.germany {
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
    display: grid;
    grid-template-columns: 1fr;
    /* fr betyder "fraction" */
    grid-template-rows: 3;
}

.germany-black {
    background-color: #000000;
}

.germany-red {
    background-color: #FF0000
}

.germany-gold {
    background-color: #FFCC00;
}

/* @media screen and (min-width: 820px) {
    .content-flags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }    
} */