:root {
    --primary-color: #7C9082;
    --secondary-color: #2E4052;
    --base-color: #1c1c1c;
    --dark: #000000;
    --light: #ffffff;
    --contrast-color: #c8be9f;
}

body {
    margin: 0;
    background-color: var(--primary-color);
    letter-spacing: 0.05rem;
}

nav {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0rem;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: large;
    display: inline-block;
    padding: 2rem;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    position: relative;
    margin: 0;
}

nav a:hover {
    color: var(--light);
    background-color: var(--contrast-color);
    transition: ease-in-out 0.8s;
}

header {
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: var(--secondary-color);
    font-family: 'Abril Fatface', serif;
    font-size: xxx-large;
}

h3 {
    color: var(--contrast-color);
    font-family: 'Abril Fatface', serif;
}

h2#field-one {
    color: var(--primary-color);
    margin: 0 0 1rem 0;
    font-family: 'Abril Fatface', serif;
    font-size: xx-large;
}

h2#field-two {
    color: var(--secondary-color);
    margin: 0 0 1rem 0;
    font-family: 'Abril Fatface', serif;
    font-size: xx-large;
    text-align: right;
}

.header-h1 {
    text-shadow: 0.2rem 0.2rem var(--contrast-color);
    margin: 5rem 0 0 0;
}

p {
    color: var(--light);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.05rem;
}

p.header-text {
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    color: var(--light);

}

ul {
    list-style: none;
}

#btn-header-button {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 0.7rem 1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: large;
}

#btn-header-button:hover {
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.btn-header-link a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.img-box {
    background-color: #8c8c8c;
    height: 100%;
    text-align: center;
    padding-top: 0;
    margin: 0;
    box-shadow: 0.5rem 0.5rem var(--contrast-color);
}

.content {
    margin-top: 5rem;
}

.field-one {
    background-color: var(--secondary-color);
    min-height: 350px;
    display: flex;
    /* letter-spacing: 0.05rem; */
}

.field-two {
    background-color: var(--primary-color);
    min-height: 350px;
    display: flex;
    text-align: right;
    /* letter-spacing: 0.05rem; */
}

.field-three {
    background-color: var(--secondary-color);
    min-height: 350px;
    width: 100%;
    display: flex;
    /* letter-spacing: 0.05rem; */
}

.field-one-long {
    background-color: var(--secondary-color);
    min-height: 350px;
    display: block;
    padding: 2rem;
    /* letter-spacing: 0.05rem; */
}

.left {
    width: 50%;
    margin: 5%;
}

.right {
    width: 50%;
    margin: 2rem;
}

table {
    background-color: var(--contrast-color);
    border: 0.5rem solid var(--contrast-color);
    width: 100%;
}

#food th {
    font-size: large;
    background-color: var(--primary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    color: var(--light);
}

#food td {
    background-color: var(--light);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    color: var(--base-color);

}

footer {
    border-top: 5px solid var(--contrast-color);
    padding: 3rem;
    text-align: center;
}

p.footer {
    color: var(--light);
    font-size: large;
}






/* FYRA FLAGGOR TILL FLAGS.HTML */

.flaggor {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


/* FRANSKA FLAGGAN */

.france {
    display: flex;
    /* grid-template-columns: 3fr; */
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
}

.blue {
    background-color: #0055A4;
    width: 33.3%;
}

.white {
    background-color: #FFFFFF;
    width: 33.3%;
}

.red {
    background-color: #EF4135;
    width: 33.3%;
}

/* SVENSKA FLAGGAN */

.sweden {
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
}

.top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3;
}

.mid {
    display: flex;
    background-color: #FECC00;
    width: 100%;
}

.bottom {
    display: flex;
}

.blue-short {
    background-color: #006AA7;
    width: 80px;
    height: 80px;
}

.yellow-short {
    background-color: #FECC00;
    width: 40px;
}

.blue-long {
    background-color: #006AA7;
    width: 180px;
    height: 80px;
}

.yellow-long {
    background-color: #FECC00;
    width: 100%;
    height: 40px;
}

/* NORSKA FLAGGAN */

.norway {
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
}

.norway-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5;
}

.red-short {
    background-color: #BA0C2F;
    width: 80px;
    height: 80px;
}

.white-top-and-bottom {
    background-color: #FFFFFF;
    width: 10px;
    height: 80px;
}

.blue-top-and-bottom {
    background-color: #00205B;
    width: 20px;
    height: 80px;
}

.red-long {
    background-color: #BA0C2F;
    width: 180px;
    height: 80px;
}

.norway-upper-mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 3; */
}

.mid-short-white {
    background-color: #FFFFFF;
    width: 90px;
    height: 10px;
}

.mid-short-blue {
    background-color: #00205B;
    height: 10px;
    width: 20px;
}

.mid-long-white {
    background-color: #FFFFFF;
    width: 190px;
    height: 10px;
}

.norway-bottom-mid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3;
}

.norway-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5;
}

.norway-mid {
    background-color: #00205B;
    width: 100%;
    height: 20px;
}

/* TYSKLANDS FLAGGA */

.germany {
    width: 300px;
    height: 200px;
    border: 3px solid var(--light);
    display: grid;
    grid-template-columns: 1fr;
    /* fr betyder "fraction" */
    grid-template-rows: 3;
}

.germany-black {
    background-color: #000000;
}

.germany-red {
    background-color: #FF0000
}

.germany-gold {
    background-color: #FFCC00;
}